/* ==================== Base styles and color variables ==================== */
:root {
  --theme-primary: #c00;
  --theme-background: #fff;
  --theme-divider: #404040;
  --theme-copy: #404040;
  --theme-copy-accent: #e6e6e6;
  --theme-copy-accent-hover: #fff;
  --theme-icon-color: #e6e6e6;
  --theme-icon-color-hover: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: "cnn_sans_display";
  src: url("/assets/fonts/cnn_sans_display-v1.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100%;
  margin: 0;
  font-family: "cnn_sans_display", Arial, sans-serif;
  color: var(--theme-copy);
  line-height: 1.45;
  margin: 0;
  background: var(--theme-background);
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 16px;
}

hr {
  border: none;
  height: 2px;
  background-color: var(--theme-divider);
  margin: 0 2rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  all: unset;
  cursor: pointer;
}

/* ==================== Header ==================== */
header {
  display: flex;
  align-items: center;
  color: #0c0c0c;
  font-size: 15px;
  font-weight: 500;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  padding: 6px 0;
  width: 100%;
  height: 100%;
}

.left-side-header,
.right-side-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  height: 100%;
}

ul {
  list-style: none;
}

.header-icon {
  width: 24px;
  height: 24px;
}

.header-logo {
  width: auto;
}

li a.more,
a.watch,
a.listen {
  display: flex;
  align-items: center;
  gap: 4px;
}

li a.more::after {
  content: url("/assets/images/gray-caret.svg");
  display: flex;
  align-items: center;
  font-size: 0.6em;
  line-height: 0.5;
}

li a.watch::before {
  content: url("/assets/images/live-tv-icon-header.svg");
  display: flex;
  align-items: center;
  font-size: 0.6em;
  line-height: 0.5;
  margin-right: 4px;
}

li a.listen::before {
  content: url("/assets/images/audio-icon-header.svg");
  display: flex;
  align-items: center;
  font-size: 0.6em;
  line-height: 0.5;
  margin-right: 4px;
}

.signIn-btn {
  height: 30px;
  border: 1px solid #e6e6e6;
  padding: 4px 14px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
}

.desktop-header-btns,
.desktop-menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  height: 100%;
}

/* ==================== Media Queries - Responsive codes ==================== */
/* mobile + tablet */
@media (max-width: 1023px) {
  .desktop-header-btns,
  .desktop-menu {
    display: none;
  }

  .header-container,
  hr {
    margin: 0;
  }
}

/* for monile */
@media (max-width: 599px) {
}

/* for tablet */
@media (min-width: 600px) and (max-width: 1023px) {
}
