/* ==================== Base styles and color variables ==================== */
:root {
  --theme-primary: #c00;
  --theme-background: #fff;
  --theme-primary-color: #0c0c0c;
  --theme-divider: #404040;
  --theme-copy: #404040;
  --theme-copy-accent: #e6e6e6;
  --theme-copy-accent-hover: #fff;
  --theme-icon-color: #e6e6e6;
  --theme-icon-color-hover: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: "cnn_sans_display";
  src: url("/assets/fonts/cnn_sans_display-v1.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100%;
  margin: 0;
  font-family: "cnn_sans_display", Arial, sans-serif;
  color: var(--theme-copy);
  line-height: 1.45;
  background: var(--theme-background);
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 16px;
}

hr {
  border: none;
  height: 2px;
  background-color: var(--theme-divider);
  margin: 0 2rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  all: unset;
  cursor: pointer;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

/* ==================== Header ==================== */
header {
  display: flex;
  align-items: center;
  color: var(--theme-primary-color);
  font-size: 15px;
  font-weight: 500;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  padding: 6px 0;
  width: 100%;
  height: 100%;
}

.left-side-header,
.right-side-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  height: 100%;
}

ul {
  list-style: none;
}

.header-icon {
  width: 24px;
  height: 24px;
}

.header-logo {
  width: auto;
}

li a.more,
a.watch,
a.listen {
  display: flex;
  align-items: center;
  gap: 4px;
}

li a.more::after {
  content: url("/assets/images/gray-caret.svg");
  display: flex;
  align-items: center;
  font-size: 0.6em;
  line-height: 0.5;
}

li a.watch::before {
  content: url("/assets/images/live-tv-icon-header.svg");
  display: flex;
  align-items: center;
  font-size: 0.6em;
  line-height: 0.5;
  margin-right: 4px;
}

li a.listen::before {
  content: url("/assets/images/audio-icon-header.svg");
  display: flex;
  align-items: center;
  font-size: 0.6em;
  line-height: 0.5;
  margin-right: 4px;
}

.signIn-btn {
  height: 30px;
  border: 1px solid #e6e6e6;
  padding: 4px 14px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
}

.desktop-header-btns,
.desktop-menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  height: 100%;
}

/* ==================== news-headLine ==================== */
.news-headline {
  width: 100%;
  overflow-x: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: var(--theme-primary-color);
  font-size: 15px;
  white-space: nowrap;
  font-weight: 300;
  margin-top: 2.3rem;
}

.news-headline li a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.news-headline li:not(:last-child)::after {
  content: "|";
  margin-left: 0.7rem;
  color: var(--theme-divider);
  opacity: 0.7;
}

/* News Section */
.news-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1.5rem;
  margin-top: 1.5rem;
  align-items: stretch;
}

.news-grid div {
  padding: 0.5rem;
  border-radius: 0.5rem;
  height: fit-content;
}

.news-grid span {
  font-size: 0.9rem;
  color: var(--theme-primary-color);
}

.news-grid h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.main-news h1 {
  color: var(--theme-primary-color);
  text-align: center;
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: 2rem;
}

.left-side-news,
.right-side-news {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
}

.left-side-news span,
.right-side-news span,
.main-news span {
  font-size: 20px;
  font-weight: 600;
}

.main-news p {
  text-align: left;
}

.news-grid hr,
.categorized-news hr,
.other-news-1 hr {
  height: 1px;
  opacity: 0.3;
}

.news-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.shorts-news span {
  font-size: 16px;
  font-weight: 500;
}

#red-text {
  color: var(--theme-primary);
  font-weight: bold;
  font-size: 17px;
}

/* categorized news section */
.categorized-news {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1.5rem;
  margin-top: 1.5rem;
  align-items: stretch;
}

.categorized-news div {
  height: fit-content;
}

.categorized-news video:hover {
  background-color: var(--theme-background);
}

.left-side-cat-news,
.right-side-cat-news {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
}

.video-vox {
  position: relative;
  display: inline-block;
}

.video-vox video {
  display: block;
}

.video-vox::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(58, 56, 56, 0);
  cursor: pointer;
}

.video-vox:hover::after {
  background: rgba(219, 202, 202, 0.8);
}

.left-side-cat-news h3,
.right-side-cat-news h3,
.center-side-cat-news h3,
.travel-category-news h3,
.left-other-news-1 h3,
.right-other-news-2 h3 {
  color: var(--theme-primary-color);
  border-left: 6px solid var(--theme-primary-color);
  padding-left: 10px;
  font-weight: 900;
  margin-bottom: 6px;
}

.left-side-cat-news p,
.right-side-cat-news p,
.center-categorized-news P {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: var(--theme-primary-color);
}

.left-side-cat-news span,
.right-side-cat-news span,
.center-categorized-news span {
  color: var(--theme-primary-color);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 22px;
}

.news-container {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 15px;
  margin-top: 20px;
}

.news-container img {
  max-width: 140px;
  height: 70px;
  margin-right: 16px;
}

.news-container p {
  color: var(--theme-primary-color);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 22px;
}

/* ==================== travel categorized news ==================== */
.travel-category-news {
  display: flex;
  margin-top: 7rem;
  gap: 1.5rem;
  padding: 1rem;
}
.left-side-travel-news {
  flex: 2.4;
}
.right-side-travel-news {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.new-one h4,
.new-two h4 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  color: var(--theme-primary-color);
}

/* ==================== another categorize (1) ==================== */
.other-news-1 {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  align-items: start;
  justify-content: center;
  margin-left: 1rem;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.left-other-news-1 > img,
.right-other-news-2 > img {
  max-width: 410px;
  max-height: 231px;
}

.left-other-news-1 h4,
.right-other-news-2 h4 {
  color: var(--theme-primary-color);
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.sub-news {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 10px 0;
}

.sub-news > img {
  width: 130px;
  height: 73px;
}

.ads {
  width: 300px;
  height: 270px;
  background-color: rgb(230, 230, 230);
  opacity: 0.4;
  margin-right: 50px;

  animation: pulse 1.8s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.4;
  }
}

/* ==================== Media Queries - Responsive codes ==================== */
/* mobile + tablet */
@media (max-width: 1023px) {
  .desktop-header-btns,
  .desktop-menu {
    display: none;
  }

  .header-container,
  hr {
    margin: 0;
  }
}

/* for monile */
@media (max-width: 599px) {
}

/* for tablet */
@media (min-width: 600px) and (max-width: 1023px) {
}

@media (max-width: 768px) {
  .news-grid,
  .categorized-news {
    grid-template-columns: 1fr;
  }
  .main-news h1 {
    text-align: left;
  }
  .travel-category-news {
    flex-direction: column;
  }
}

@media (max-width: 1224px) {
  #hide-step-1 {
    display: none;
  }
}
@media (max-width: 1174px) {
  #hide-step-2 {
    display: none;
  }
}
@media (max-width: 1124px) {
  #hide-step-3 {
    display: none;
  }
}
@media (max-width: 1074px) {
  #hide-step-4 {
    display: none;
  }
}
@media (max-width: 1024px) {
  #hide-step-5 {
    display: none;
  }
}

@media (max-width: 950px) {
  .other-news-1 {
    grid-template-columns: 1fr;
  }
  .left-other-news-1 > img,
  .right-other-news-2 > img {
    max-width: 100%;
    max-height: 100%;
  }
  .other-news-1 > div > img {
    width: 100%;
  }
}
