/* ==================== Base styles and color variables ==================== */
:root {
  --theme-primary: #c00;
  --theme-background: #fff;
  --theme-divider: #404040;
  --theme-copy: #404040;
  --theme-copy-accent: #e6e6e6;
  --theme-copy-accent-hover: #fff;
  --theme-icon-color: #e6e6e6;
  --theme-icon-color-hover: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: "cnn_sans_display";
  src: url("/assets/fonts/cnn_sans_display-v1.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "cnn_sans_display", Arial, sans-serif;
  color: var(--theme-copy);
  line-height: 1.45;
  margin: 0;
  background: var(--theme-background);
}

hr {
  border: none;
  height: 2px;
  background-color: var(--theme-divider);
  margin: 0 2rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* ==================== Header ==================== */
header {
  display: flex;
  flex-direction: column;
  color: #0c0c0c;
  font-size: 15px;
  font-weight: 500;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  padding: 10px;
}

ul {
  list-style: none;
}

.left-side-header {
  display: flex;
  gap: 0.8rem;
}

.right-side-header {
  display: flex;
  gap: 0.8rem;
}
